.header {
    text-align: center;
    margin-top: 50px;
}

.card {
    width: 25%;
    margin: 2% auto auto auto;
}

.form {
    text-align: center;
    margin: 10px;
}

.buttonRegistrar {
    margin: 10px;
}