.center button{
    display: inline-flexbox;
    float: right;
    text-align: left;
    margin-top:30px;
    margin-right: 20px;
}
.center{
    background-color: white;
}
.BtnRegistrar{
background: green;
    
}

.BtnLogin{
align-items: right;
}